//_colors.scss

// Base Colors
$white  : #fff;
$black  : #000;

// Site colors
$blue   : #124CA3;
$gold   : #CBB46C;
$navy   : #23384E;
$yellow : #F7EFAF;
$green  : #62AD6F;
$red    : #D70A0C;

$gray   : #666;
$gray--light: #888;

$primary  : $blue;
$secondary: $gold;
$tertiary : $navy;

$active   : $gold;

// Status
$success  : $green;
$fail     : $red;