a.Btn {
  font-size: 1.8rem;
  line-height: 1.2rem;
  display: inline-block;
  user-select: none;
  text-align: center;
  text-decoration: none;
  letter-spacing: .06em;
  @include removeWebkit;
  @include transitionAll;
  @include removeWebkit;
  @include removeButtonStyle;
  font-weight: bold;
  padding: 25px 50px;
  text-transform: uppercase;
  color: #fff;
  background-color: $red;
  margin: 5px;
  &:hover {
    background-color: lighten($red, 10);
  }
}
