//Gallery
.Gallery {
  background-color: white;
  padding: 2%;
  &-images {
    display:grid;
    grid-template-columns:auto auto ;
    grid-gap: 20px;
  }
  &-img {
    height: auto;
    display: block;
    &--full{
     width: 100%;
     height: auto;
     margin: 20px 0;
    }
  }
  h2 {
    display: none;
  }
}