//Gallery
.Gallery {
  background-color: #eee;
  padding: 5px 0;
  background-color: yellow;
  border: 10px solid red;
  &-images {
    display:grid;
    grid-template-columns:auto auto ;
    grid-gap: 20px;
  }
  &-img {
    height: auto;
    display: block;
    
  
  }
  h2 {
    display: none;
  }
}