$HeroTextColor: #fff;

.Hero {
  background-attachment: fixed;
  background-position: 50% 35%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: 'Carey-Type-Regular';  
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  justify-content: center;
  line-height: 1;
  margin: 0;
  min-height: 95vh;
  padding: 0;
  position: relative;
  text-align: center;
  text-transform: none;
  z-index: 10;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  h2 {
    margin-top: 15vw;
    font-size: 9rem;
    color: $HeroTextColor;
    line-height: 7.5rem;
    letter-spacing: -.3rem;
    span {
      display: block;
      font-size: 3rem;
      margin: 0;
      padding: 0;
      line-height: 5rem;
      letter-spacing: .15rem;
    }
  }
  p {
    color: $HeroTextColor;
    font-family: 'Carey-Type-Regular';
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 3rem;
    padding: 30px 30vw 0;
  }
}

// Media Queries ***********************************************
// Phone   
@media (max-width: $screen-xs-max){
  .Hero {
    background-attachment: initial;
    h2 {
      font-size: 6rem;
      margin-bottom: 0;
      line-height: 6rem;
      span {
        font-size: 2.4rem;
        padding: 0;
      }
    }
    p {
      font-size: 2.1rem;
      letter-spacing: -.05rem;
      line-height: 3rem;
      padding: 0 5px 0;
      br {
        display: none;
      }
    }
  }
}