.Segue {
  min-height: 95vh;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(17, 9, 46, 0.425);
  //   background-position: 100% 100%;
  //   z-index: -1;
  // }
}
